[Unit]
Description=Dropbox Daemon
After=network.target

[Service]
Type=simple
User={{ user }}
ExecStart=/opt/dropbox/dropboxd
ExecStop=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
