* {
    border:        none;
    border-radius: 0;
    /*font-family:   Sans;*/
    font-family:   "SauceCodePro Nerd Font";
    /*font-family:   "SauceCodePro Nerd Font Regular";*/
    font-size:     22px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(237, 236, 236, 1);
    background: rgba(35, 31, 32, 0.00);
}

window#waybar.solo {
    color:      rgba(237, 236, 236, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(237, 236, 236, 0.2);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces button.visible {
    color:      rgba(237, 236, 236, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(237, 236, 236, 1);
    border-bottom: 3px solid rgba(237, 236, 236, 0);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#pulseaudio {
    margin:     0px 4px 0px 0px;
    min-width:  15px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(237, 236, 236, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
